
/* 自定义的一些CSS */

p>a{ 
	color:#2c66cf;
	text-decoration:none;
}

ol>li>a{ 
	color:#2c66cf;
	text-decoration:none;
}

h4{
	font-size: 20px;
	margin-bottom: 10px;
	border-bottom: 0;
	color: #66ffff;
	}


h3{
	margin-top: 20px;
	margin-bottom: 20px;
	color: #00ccff;
}


p{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-preview> a >h3{
	color: #606060;
}

